In [1]:
import pandas as pd

In [16]:
col_ebil=["invoice_No","invoice_date","total_bill_amount","total_outstanding_amount",\
          "account_name","stampduty_amount","msisdn","fa_id"]
col_ods=["msisdn","billing_cycle","invoice_month","invoice_year","1500","b","0","fa_id"]
df_ebill=pd.read_csv('EBILL.csv',header=None,sep='|',names=col_ebil)
df_ods=pd.read_csv('ODS.csv',header=None,sep='|',names=col_ods)

In [47]:
#df_materai=pd.merge(df_ebill["fa_id"],df_ods[["msisdn","billing_cycle","invoice_month","invoice_year","1500","b","0","fa_id"]],
#                    on="fa_id",how="inner")
df_materai=pd.merge(df_ods[["msisdn","billing_cycle","invoice_month","invoice_year","1500","b","0","fa_id"]],df_ebill["fa_id"],
                    on="fa_id",how="inner")
df_ods_fix=df_ods[~df_ods["fa_id"].isin(df_materai["fa_id"])]

In [48]:
df_materai

         msisdn billing_cycle  invoice_month  ...  b  0      fa_id
0  628113599266          BC20              1  ...  b  0  681295043
1  628113649266          BC20              1  ...  b  0  263929568
2  628113869266          BC20              1  ...  b  0  256702290

[3 rows x 8 columns]

In [49]:
df_ods_fix

          msisdn billing_cycle  invoice_month  ...  b  0      fa_id
0   628112869266          BC20              1  ...  b  0  681627083
1  6281132049266          BC20              1  ...  b  0  682751444

[2 rows x 8 columns]